<div class="content">
<h1>Edit your team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

	<p>
	  <%= f.label :name %><br />
	  <%= f.text_field :name, :class => "large" %>
	</p>
	<% for resource in @resources %>  
	    <p>  
	      <%= check_box_tag "team[resource_ids][]", resource.id, @team.resources.include?(resource) %>  
	      <%= resource.name %>  
	    </p>  
	<% end %>
  <div class="btn-area">
    <%= f.submit "Update" %>
  </div>
<% end %>
<p>
  <%= link_to '&lt; back to teams', teams_path %>
</p>
<div class="destroy">You can also <%= link_to 'delete this team', @team, :confirm => 'Are you sure? There is no going back!', :method => :delete %></div>
</div>