<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-intro.png", :alt => 'Simple Resource Planning', :height => '47', :width => '499') %></h1>
		<p class="description">deploygo lets you plan who is working on what and when.
        <br /><a href="#" class="callout">Make resource planning easy - sign up</a></p>
	</div>
	<div class="primary-content-left">
		<h2><a href="#"><%= image_tag("heading-tour.png", :alt => 'Take a Tour', :height => '38', :width => '241') %></a></h2>
		<p>Throw away your out-of-date whiteboards, your emailed spreadsheets and your hastily scrawled notes.</p>
        <p><a href="#" class="callout">Take a tour</a></p>
	</div>
	<div class="primary-content-right">
		<h2><a href="#"><%= image_tag("heading-pricing.png", :alt => 'Plans and Pricing', :height => '38', :width => '225') %></a></h2>
		<p>30 day free trial, quick and easy to sign up.</p>
        <p><a href="#" class="callout">See plans and pricing</a></p>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %> 
    <div id="login" class="sidebar">
		<% if !@user %>
	        <h3>Sign in</h3>
			<% form_tag(:action => :login) do %>
	                <div class="login-panel">
		                <label for="name">Email</label>
		                <%= text_field_tag :name, params[:name] %>
		                <label for="password">Password</label>
		                <%= password_field_tag :password, params[:password] %>
						<%= submit_tag "Login", :class => 'button' %>
	                </div>
	        <% end %>
	        <p><%= link_to 'Forgotten password?', { :action => "forgotten" }, :class => 'highlight' %></p>
	        <p>Not signed up yet? <a href="" class="highlight">See plans and pricing.</a></p>
		<% else %>
			<h3>Planner</h3>
			<p><a href="/" class="highlight">Click here</a> to get back to your planner.</p>
		<% end %>
    </div>
	<%= render(:partial => 'subscribe') %>
</div>