<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-intro.png", :alt => 'Simple Resource Planning', :height => '47', :width => '499') %></h1>
		<p>deploygo lets you plan who is working on what and when.
        <br /><a href="#" class="callout">Make resource planning easy - sign up</a></p>
	</div>
	<div class="primary-content-left">
		<h2><a href="#"><%= image_tag("heading-tour.png", :alt => 'Take a Tour', :height => '38', :width => '241') %></a></h2>
		<p>Throw away your out-of-date whiteboards, your emailed spreadsheets and your hastily scrawled notes.</p>
        <p><a href="#" class="callout">Take a tour</a></p>
	</div>
	<div class="primary-content-right">
		<h2><a href="#"><%= image_tag("heading-pricing.png", :alt => 'Plans and Pricing', :height => '38', :width => '225') %></a></h2>
		<p>30 day free trial, quick and easy to sign up.</p>
        <p><a href="#" class="callout">See plans and pricing</a></p>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %> 
    <div id="login" class="sidebar">
        <h3>Sign in</h3>
        <form action="/home/login" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="FHGc7yN5obw/Yw1BYw4C+JeoEzI19Ezy4kxSpQ+AjXY=" /></div>
                <div class="login-panel">
	                <label for="name">Email</label>
	                <input id="name" name="name" type="text" />
	                <label for="password">Password</label>
	                <input id="password" name="password" type="password" />
	                <input class="button" name="commit" type="submit" value="Login" />
                </div>
        </form>
        <p><a href="/home/forgotten" class="highlight">Forgotten password?</a></p>
        <p>Not signed up yet? <a href="" class="highlight">See plans and pricing.</a></p>
    </div>
	<%= render(:partial => 'subscribe') %>
</div>