<div style="width:600px">
	<% form_tag do %>
		<dl>
			<div class="login-panel">
				<dt><label for="name">Email:</label></dt>
				<dd><%= text_field_tag :name, params[:name] %></dd>		
				<dt class="login-panel-password"><label for="password">Password:</label></dt>
				<dd><%= password_field_tag :password, params[:password] %>
				<span><%= link_to 'Forgotten password?', { :action => "forgotten" } %></span>
				</dd>
				<dd><%= submit_tag "Login", :class => 'button' %><dd>
			</div>
		<dl>
	<% end %>
</div>
<div style="width:620px">
	<div style="text-align:left; width:300px;float:left">
		<h2>Resource planning made easy</h2>
		<p style="margin:10px 0;">Throw away your out-of-date whiteboards, your emailed spreadsheets and your hastily scrawled notes.</p>
		<p><strong>deploygo</strong> lets you plan <strong>who</strong> is working on <strong>what</strong> and <strong>when</strong> - you'll never deliver late again. <%= link_to 'Take the tour...', { :action => "tour" } %></p>
	</div>
	<div style="text-align:left; width:310px;float:right">
		<h2>Sign up for our newsletter</h2>
		<p style="margin:10px 0;">Get the latest updates and a chance to become part of the beta programme</p>
		<form action="http://deploygo.createsend.com/t/y/s/dydjuu/" method="post">
		<label for="dydjuu-dydjuu">Email:</label> <input type="text" name="cm-dydjuu-dydjuu" id="dydjuu-dydjuu" class="small" />
		<input type="submit" value="Subscribe" />
		</form>
	</div>
</div>
