<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-plans.png", :alt => 'Plans and Pricing', :height => '47', :width => '282') %></h1>
		<p class="description">While we are in beta we will be offering free accounts.</p>
		<p>Signup for a free trial account in less than 60 seconds.</p>
		<% form_for :newuser, :url => { :action => :register }, :html => { :class => 'form-register' } do |f| %>
			<dl>
				<dt><%= f.label :name %></dt>
				<dd><%= f.text_field :name %><%= error_message_on(:newuser, :name) %></dd>
				<dt><%= f.label :email %></dt>
				<dd><%= f.text_field :email %><%= error_message_on(:newuser, :email) %></dd>					
				<dt><%= f.label :password %></dt>
				<dd><%= f.password_field :password, :class => 'password-field' %><%= error_message_on(:newuser, :password) %></dd>
				<dt><%= f.label :password_confirmation, 'Confirm Password' %></dt>
				<dd><%= f.password_field :password_confirmation, :class => 'password-field' %></dd>
				<% fields_for :neworg do |organisation| %>
					<dt><%= organisation.label :name, 'Company' %></dt>
					<dd><%= organisation.text_field :name %><%= error_message_on(:neworg, :name) %></dd>
				<% end %>
				<dd><%= f.submit "Sign Up Now", :class => 'button' %><dd>
			<dl>
		<% end %>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
	<%= render(:partial => 'subscribe') %>
	<div class="sidebar">
		<h3>Need help?</h3>
		<p>Try our <a href="/home/support" class="highlight">support</a> pages or <a class="highlight" href="/home/contact">contact</a> us if you can't find an answer there.</p>
	</div>
</div>