<div class="content">
<h1>Account</h1>
<p>This is your account information</p>
<h2>Your details</h2>
<p>You can <%= link_to 'update your user details', edit_user_path(@user) %>, including your name, email address and password</p>
<% if !@user.read_only %>
	<h2>Your organisation</h2>
	<% form_for :organisation, :url => { :action => "update" } do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :name, "Organisation name" %><br />
	    <%= f.text_field :name, :class => "large" %>
	  </p>
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>
<% end %>
<p style="margin-top:20px;">If you have any queries about your account email us at <a href="mailto: support@deploygo.com">support@deploygo.com</a>
</div>
