<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>deploygo - resource planning, task scheduling, production management, agile resource planning</title>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "cookies" %>
	<%= stylesheet_link_tag "reset-min", :media => "all" %>
	<%= stylesheet_link_tag "fonts-min", :media => "all" %>
	<%= stylesheet_link_tag "deploygo", :media => "all" %>
</head>
<body id="<%= @bodyid || 'public' %>">
	<!-- TODO -->
	<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:warning] %>
		<div id="warning"><%= flash[:warning] %></div>
	<% end %>
    <div id="wrapper">
        <div id="header">
            <div id="nav">
                <a href="/">Home</a>
                <a href="/home/tour">Tour</a>
                <a href="/home/plans">Plans &amp; Pricing</a>
                <a href="/home/support">Support</a>
            </div>
        </div>
		<%= yield  %>
        <div id="footer">
			<%= image_tag("logo-footer.jpg", :alt => 'deploygo - simple resource planning', :height => '49', :width => '155') %>
            <div id="footer-nav">
                <a href="/home/about">About Us</a>
                <!--><a href="#">Blog</a>-->
                <a href="/home/contact">Contact</a>
                <%= link_to("Twitter", "http://www.twitter.com/deploygo") %>
            </div>				
        </div>
    </div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-9964636-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
